<!-- This is the main container for the Foods page -->
<div class="container">
  <!-- Heading for the Foods page with a custom class -->
  <h1 class="foods-heading">Foods</h1>

  <!-- Link to navigate to the 'Add a food' page with a custom class -->
  <%= link_to 'Add a food', new_user_food_path(@user), class: "add-food-link float-right" %>

  <!-- Container for the table displaying food information -->
  <div class="table-container">
    <!-- Table element with a custom class -->
    <table class="foods-table">
      <!-- Table header -->
      <thead>
        <tr>
          <th>Name</th>
          <th>Measurement Unit</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <!-- Table body containing food data -->
      <tbody>
        <!-- Loop through each food item to populate the table rows -->
        <% @food.each do |food| %>
          <tr>
            <!-- Display the name of the food -->
            <td><%= food.name %></td>
            <!-- Display the measurement unit of the food -->
            <td><%= food.measurement_unit %></td>
            <!-- Display the price of the food with a currency symbol -->
            <td>$ <%= food.price %></td>
            <!-- Display the quantity of the food -->
            <td><%= food.quantity %></td>
            <!-- Button to remove the food, linked to the appropriate action -->
            <td><%= button_to 'Remove', user_food_path(@user, food), method: :delete, class: "remove-button"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
